body{
	background-color: grey;
}
.form{
	border: 2px solid black;
	width:500px;
	position: relative;
	margin: auto;
}
#texte{
	width: 97%;
	height: 50px;
	margin:5px 5px 5px 5px;
}
#btnAjout, #btnAnnul{
	margin-bottom: 10px;
	margin-left: 50px;
	width: 80%;
	border-radius: 50px;

}