body{
	background-color: grey;
}
.selected{
	background-color:  #88f;
	width: 100px;
}
.poubelle{
	display : none;
}
.form{
	background: #CECFCF;
	border: 2px solid black;
	margin: auto;
	width: 30%;
	position: relative;
}
#btnSupprimer, #btnRestaurer{
	width : 40%;
	margin-left: 30px;
	margin-top: 20px;
	position : relative;
	background-color: #3D3E3E;
	color: #fff;
	height: 50px;


}